:root {
  --text: #006400;
  --white: #ffffff;
  --black: #312c30;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1D976C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  background-color: var(--black);
  color: white;
  width: 100%;
  padding: 1em 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: 700;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 2em 0;
}

section {
  background-color: aliceblue;
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  box-shadow: -9px 4px 27px -1px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -9px 4px 27px -1px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -9px 4px 27px -1px rgba(0, 0, 0, 0.69);
  transition: all 1.3s;
}

.personal-info {
  display: flex;
  justify-content: space-between;
}

img {
  width: 201px;
  height: 201px;
  border-radius: 1px;
}

[data-testid="goal-section"]:hover {
  box-shadow: -1px -9px 16px -1px rgba(16, 0, 186, 0.69);
  -webkit-box-shadow: -1px -9px 16px -1px rgba(16, 0, 186, 0.69);
  -moz-box-shadow: -1px -9px 16px -1px rgba(16, 0, 186, 0.69);
}

h2 {
  color: var(--text);
}

ul {
  padding-left: 1em;
}

footer {
  background-color: var(--black);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-weight: 800;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0 1em;
  }

  .personal-info {
    flex-direction: column;
  }
}